[Unit]
Description=Delete install and update snapshots older than a week with prefix %i.

[Service]
ExecStart=/bin/sh -c '/usr/local/bin/zfsdesnap -p %i -d $(/usr/bin/date -d "1 week ago" +%%Y-%%m-%%d-%%H%%M%%S)'
